.footer{
    width: 100%;
    padding: 2rem 3rem;
    background-color: rgba(19, 19, 19, 0.5);
}

.footer-container{
    /* width: 100%; */
    max-width: 1140px;
    padding: 3rem;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left .location{
    display:    flex;
    margin-bottom: 1rem;
}

.left .location p{
    line-height: 30px;
}

.left .address{
    display: flex;
    margin-top: 0.8rem;
}

.right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right h3{
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.right .social{
    margin-top: 1rem;
}

.right .social a{
    color: #fff;
    font-size: 30px;
    margin-right: 0.5rem;
    transition: 0.3s;
 }

.right .social a:hover{
   font-size: 50px;
}


@media screen and (max-width: 900px){
    .footer-container{
        flex-direction: column;
        text-align: center;
    }

    .left .location{
        flex-direction: column;
        align-items: center;
    }

    .left .location .location-text{
        margin-top: 1rem;
    }

    .left .location p{
        line-height: 20px;
    }

    .left .address{
       flex-direction: column;
       align-items: center;
       margin-top: 2rem;
    }

    .left .address .text{
        margin-top: 1rem;
     }

    .right{
        margin-top: 1rem;
        align-items: center;
    }
    
}


